@import "~antd/dist/antd.css";

.App {
  height: 100%;
  width: auto;
  color: rgb(230, 227, 227) !important;
  font-family: "Courier New", Courier, monospace;

  .ggg {
    width: 420px;
    // border: 1px solid #ff6700;
    overflow: hidden;
    position: relative;
    font-size: 25px;
    font-weight: 900;
    left: 280px;
    top: 68px;
    color: #000;

    .guanggao {
      width: 550px;
      // background-color: rgb(219, 133, 133);

      animation: 10s wordsLoop linear infinite normal;
    }

  }

  @keyframes wordsLoop {

    0% {

      transform: translateX(100%);

      -webkit-transform: translateX(100%);

    }

    100% {

      transform: translateX(-100%);

      -webkit-transform: translateX(-100%);

    }

  }



  @-webkit-keyframes wordsLoop {

    0% {

      transform: translateX(100%);

      -webkit-transform: translateX(100%);

    }

    100% {

      transform: translateX(-100%);

      -webkit-transform: translateX(-100%);

    }
  }

  .title {
    color: rgb(244, 255, 196) !important;
  }

  h1 {
    color: rgb(230, 227, 227) !important;
  }

  button {
    color: #000;
    font-size: small;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  .ant-message-notice-content {
    background-color: #fff;
  }

  .separatecol {
    position: absolute;
    top: 20px;
    left: 350px;
    height: 85vh;
    width: 2px;
    border-left: 3px solid rgb(131, 125, 125);
  }

  .separaterow {
    position: absolute;
    top: 815px;
    left: 50px;
    height: 2px;
    width: 2800px;
    border-bottom: 3px solid rgb(240, 82, 82);
  }

  .mapall1 {
    position: relative;
    left: 100px;

    #map1 {
      height: 300px;
      width: 300px;
      margin-bottom: 20px;
      background-color: rgb(170, 143, 143);
    }

    #map2 {
      height: 300px;
      width: 300px;
      margin-bottom: 20px;
      background-color: rgb(170, 143, 143);
    }
  }

  .mapall2 {
    position: absolute;
    top: 0;
    left: 500px;

    #map3 {
      height: 300px;
      width: 300px;
      margin-bottom: 20px;
      background-color: rgb(170, 143, 143);
    }

    #map4 {
      height: 300px;
      width: 300px;
      margin-bottom: 20px;
      background-color: rgb(170, 143, 143);
    }
  }

  .mapall3 {
    position: absolute;
    top: 0;
    left: 900px;

    #map5 {
      height: 300px;
      width: 300px;
      margin-bottom: 20px;
      background-color: rgb(170, 143, 143);
    }

    #map6 {
      height: 300px;
      width: 300px;
      margin-bottom: 20px;
      background-color: rgb(170, 143, 143);
    }
  }

  .mapall4 {
    position: absolute;
    top: 0;
    left: 1300px;

    #map7 {
      height: 300px;
      width: 300px;
      margin-bottom: 20px;
      background-color: rgb(170, 143, 143);
    }

    #map8 {
      height: 300px;
      width: 300px;
      margin-bottom: 20px;
      background-color: rgb(170, 143, 143);
    }
  }

  .mapall5 {
    position: absolute;
    top: 0;
    left: 1700px;

    .separatecol {
      position: absolute;
      top: 20px;
      left: 1100px;
      height: 85vh;
      width: 2px;
      border-left: 3px solid rgb(131, 125, 125);
    }

    #map9 {
      height: 600px;
      width: 600px;
      margin-bottom: 20px;
      background-color: rgb(170, 143, 143);
    }

    .introduce {
      h5 {
        background-color: #2d3143;
        color: #bdcadb;
      }

      width: 400px;
      position: absolute;
      top: 80px;
      left: 640px;
      // margin-right: 100px;
    }
  }

  .mapall6 {
    position: absolute;
    top: 0;
    left: 2900px;

    .separatecol {
      position: absolute;
      top: 20px;
      left: 800px;
      height: 85vh;
      width: 2px;
      border-left: 3px solid rgb(131, 125, 125);
    }

    #map10 {
      height: 600px;
      width: 600px;
      margin-bottom: 20px;
      background-color: rgb(170, 143, 143);
    }
  }

  .quanping {
    right: 0.5em !important;
    bottom: 0.5em !important;
  }

  .ol-scale-line {
    left: 15em;
  }
}